# Analisis de datos
## Introducción a Pandas
## Índice:
1. [Extracción de datos](#Extraer-datos:-Restaurant)
2. [Filtrar datos](#Filtrar-datos)
3. [GroupBy](#GroupBy)
4. [Apply](#Apply:-Student-Alcohol-Consumption)
5. [Merge](#Merge:-Housing-Market)
6. [Stats](#Stats:-US---Baby-Names)
7. [Deleting](#Deleting:-Iris)
8. [Bonus](#lab#Bonus:)

<b>Nota:</b>
Esta practica esta basada en los ejercicios de varios recursos online como:

* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/
* https://www.kaggle.com/learn/pandas
* https://github.com/facuzeta/pandas_exercises
* https://github.com/guipsamora/pandas_exercises

# Extraer datos: Restaurant
Referencias:
* [Read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
* [Group by](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
* [dtype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html)

1. Import the necessary libraries

In [113]:
import pandas as pd
import numpy as np

2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [114]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

## tipos de extensiones típicas datos
# csv -> separados por coma
# tsv -> separados por tabulaciones
# lsv -> separados por espacios
# *csv -> csv importado desde excel puede tener ; de separador
# txt -> puede ser cualquier cosa, suele ser coma


chipo = pd.read_csv(url, delimiter = '\t') # por defecto delimiter = ','

chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

3. Assign it to a variable called chipo.

In [115]:
chipo = chipo

4. See the first 10 entries

In [116]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [117]:
len(chipo)

4622

6. What is the number of columns in the dataset?

In [118]:
len(chipo.columns)

5

7. Print the name of all the columns.

In [119]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

9. Which was the most-ordered item?

In [120]:
chipo.item_name.value_counts().head(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

10. For the most-ordered item, how many items were ordered?

In [121]:
chipo.item_name.value_counts().head(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

11. What was the most ordered item in the choice_description column?

In [122]:
chipo.choice_description.value_counts()

choice_description
[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: count, Length: 1043, dtype: int64

12. How many items were orderd in total?

In [123]:
len(chipo["item_name"].unique())

50

13. Turn the item price into a float

13.a. Check the item price type

In [124]:
chipo["item_price"]

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

13.b. Change the type of the column into a float

In [125]:
chipo["item_price"] = chipo["item_price"].map(lambda x: float(x[1:len(x)]))

13.c. Check the item price type

In [126]:
chipo["item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

14. How much was the revenue for the period in the dataset?

In [128]:
chipo["item_price"].sum()

34500.16

15. How many orders were made in the period?

In [129]:
len(chipo)

4622

16. What is the average revenue amount per order?

In [130]:
chipo["item_price"].sum()/len(chipo)

7.464335785374297

17. How many different items are sold?

In [131]:
len(chipo["item_name"].unique())

50

18. How many products cost more than $10.00?

In [133]:
len(chipo[chipo["item_price"] > 10])

1130

# Filtrar datos
Referencias:
* [Reset Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)
* [Sort values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values)

19. What is the price of each item? 
> print a data frame with only two columns item_name and item_price

20. Sort by the name of the item

21. What was the quantity of the most expensive item ordered?

22. How many times was a Veggie Salad Bowl ordered?

23. How many times did someone order more than one Canned Soda?

# GroupBy

Referencias:
* [Describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

GroupBy can be summarized as Split-Apply-Combine. Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)

24. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

25. Assign it to a variable called drinks.

26. Which continent drinks more beer on average?

27. Print the mean alcohol consumption per continent for every column

28. Print the median alcohol consumption per continent for every column

29. Print the mean, min and max values for spirit consumption.

# Apply: Student Alcohol Consumption
Referencias:
* [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.apply.html?highlight=apply#pandas.core.groupby.GroupBy.apply)

30. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

31. Assign it to a variable called df.

32. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

33. Create a function that will capitalize strings.

34. Capitalize both Mjob and Fjob

35. Print the last elements of the data set.

36. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

# Merge: Housing Market
Referencias:
* [randint](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html)

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

37. Import the necessary libraries

38. Create 3 differents Series, each of length 100, as follows: 
<br>
    The first a random number from 1 to 4 
    <br>
    The second a random number from 1 to 3
    <br>
    The third a random number from 10,000 to 30,000

39. Let's create a DataFrame by joinning the Series by column

40. Change the name of the columns to bedrs, bathrs, price_sqr_meter

41. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

42. Oops, it seems it is going only until index 99. Is it true?

43. Reindex the DataFrame so it goes from 0 to 299

# Stats: US - Baby Names

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014

44. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/US_Baby_Names_right.csv.zip).

45. Assign it to a variable called baby_names.

46. See the first 10 entries

47. Delete the column 'Unnamed: 0' and 'Id'

48. Is there more male or female names in the dataset?

49. Group the dataset by name and assign to names

50. How many different names exist in the dataset?

51. What is the name with most occurrences?

52. How many different names have the least occurrences?

53. What is the median name occurrence?

54. What is the standard deviation of names?

55. Get a summary with the mean, min, max, std and quartiles.

# Deleting: Iris
Referencias:
* [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

56. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

57. Assign it to a variable called iris

58. Create columns for the dataset

In [127]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

59.  Is there any missing value in the dataframe?

60.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

61. Good, now lets substitute the NaN values to 1.0

62. Now let's delete the column class

63.  Set the first 3 rows as NaN

64.  Delete the rows that have NaN

65. Reset the index so it begins with 0 again

# Bonus:
Si quiere mas ejercicios visitar:
* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/